.profiel-container {
    width: 50%;
    margin: 10px auto;
}
.henshu {
    width: 50%;
    margin: 10px auto;
}
.profiel-container h1 {
    width: 100px;
    margin: 10px auto;
    text-align: left;
    border-bottom: double 5px #FFC778;
    display:inline;
}
.menu li {
    display: list-item;  /* 縦に並べる */
    list-style-type: none;
    text-transform: uppercase;
    padding: 0.5em;
}
h2 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
    display:inline;
}
.tweet {
    border-top: solid #ecd824;
    margin-top: 10px;
    padding-top: 20px;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }